node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz


# Node
node_modules/
dist/
.env
.env
npm-debug.log*

# iOS
ios/App/App/public/
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/app/build/
android/build/
android/.gradle/
android/.idea/

# Capacitor build outputs
**/public/android/keystore.properties
