<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--
	 Required for APNs token registration.
	 NOTE: For App Store/TestFlight builds, this should be "production" and you must use a production push-enabled provisioning profile.
	 -->
	<key>aps-environment</key>
	<string>production</string>
</dict>
</plist>

